*{
    box-sizing: border-box;
    /* margin: 0; */
    /* padding: 0; */
}
section{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin-top: 7em;
}
section a{
    text-decoration: none;
    
    color: white;
    background-image: linear-gradient(orange,tomato);
    margin-top: 100px;
    padding: 10px 20px;
    
    border-radius:20px;
    box-shadow: 0 0 20px 10px rgb(253, 234, 222);
}
section h1{
    font-weight: 500;
    font-size:  5em;
}

section h3{
    font-weight: 400;
   
}

.top-banner{
    margin-left: 100px;
    padding: 10px;
}
.img{
    padding: 0px 50px 0px 50px;
}

.top-text{
    padding-bottom: 50px;
}

.orange-color{
    color:rgb(251, 148, 74);
}
.half-width{
    width: 50%;
}





.second-banner{
    /* background-color: rgb(254, 244, 237); */
    background-image: url("images/shapes/7.png");
    /* height: 40%; */
    background-repeat: no-repeat;
    background-size: ;

}

#person-image{
    height: 500px;
    
    padding-left: 250px;
    padding-top: 90px;
    
}

#about-me{
    color: rgb(112, 112, 112);
}

#second-text-area{
    padding-bottom: 50px;
    padding-right: 200px;
}

.title{
    text-align: center;
    padding-top: 50px;
    color:rgb(103, 103, 103);
}
.text{
    margin: 0px 500px;
    padding-top: 20px;
    padding-bottom: 0px;
}
.one-third{
    width: 25%;
    box-shadow: 0 0 20px 10px gray;
    padding:10px 10px 10px 10px;
    margin: 30px 100px 30px 30px;
    border-radius: 20px;
}

.one-third img{
    width: 100%;
    
}

.recipies{
    padding-left: 100px;
}

.popularity{
    box-shadow: 0 0 20px 10px gray;
    border-radius: 20px;
    margin: 70px 140px;
    padding: 0px 60px;
    
}

.popularity-view{
    padding-right: 250px;
     
    height: 200px;
    
}

.view-count{
    padding-bottom: 0px;
    margin-top: 30px;
    height:30px;
}

.popularity-view h5{
    /* padding-top: 0px; */
    /* padding-bottom: 40px; */
    padding-left: 10px;
    
}

footer{
    background-color:black;
    height: 180px;
    padding-bottom: 0px;
    padding-top: 20px;
    margin-bottom: 0px;
}

footer h2{ 
    margin-top: 20px;
    text-align: center;
    color: rgb(91, 91, 91);
}

footer h2 span{
    color: rgb(251, 153, 76);
}

footer h4{
    color:white;
    text-align: center;
    margin-bottom: 10px;
}